## 宣告變數

In [ ]:
num_1 = 17    ## int
str_1 = "hello" ## string
float_1 = 17.2 ##　float

In [ ]:
apple = 13

In [ ]:
num_1 = int(num_1)
print(type(num_1))

In [ ]:
n=1
print(n + 1)

# 運算

In [ ]:
a=7
b=3

In [ ]:
ans_1 = a+b
ans_2 = a-b
ans_3 = a*b
ans_4 = a/b
ans_5 = a//b # 商數
ans_6 = a%b #餘數
ans_7 = a**b #a的b次方

In [ ]:
print(ans_7)

343

example

In [ ]:
num = 1729

In [ ]:
n_1 = num // 1000
n_2 = num % 1000 // 100

In [ ]:
print(n_1,n_2)

1 7

## input

In [ ]:
a = input()
print(a)

In [ ]:
a = input("please input something : ")
print(a)

In [ ]:
input_num = input("give me a number : ")

input_num = int(input_num)
total = input_num + 2

print(total)

## print

In [ ]:
name = "Alice"
age = 30
print("My name is %s and I am %d years old." % (name, age))

str.format()

In [ ]:
name = "Bob"
age = 40
print("My name is {} and I am {} years old.".format(name, age))

f-string(python3.6以後)

In [ ]:
name = "David"
age = 60
print(f"My name is {name} and I am {age} years old.")

My name is David and I am 60 years old.

In [ ]:
print(f"{name} will be {age + 5} years old after 5 years.")

# 對齊

使用 % 方法:

%s: 用於字串

%d: 用於整數

%f: 用於浮點數

In [ ]:
print("Integer: %5d" % 42)  # 寬度為5，預設右對齊
print("Float: %7.2f" % 3.14159)  # 寬度為7，小數點後保留2位

使用 str.format() 方法：

這裡的 : 是開始格式指定，後面可以接對齊、寬度和精度的資訊。

In [ ]:
print("Integer: {:5d}".format(42))  # 寬度為5，預設右對齊
print("Float: {:7.2f}".format(3.14159))  # 寬度為7，小數點後保留2位

使用 f-string (Python 3.6 以上)：

f-string 的格式化與 str.format() 非常類似。

In [ ]:
integer = 42
floating = 3.14159
print(f"Integer: {integer:5d}")  # 寬度為5，預設右對齊
print(f"Float: {floating:7.2f}")  # 寬度為7，小數點後保留2位

"<" : 左對齊

">" : 右對齊 (這是預設的對齊方式)

"^" : 中央對齊

In [ ]:
print(f"Left aligned: {42:<5d}")
print(f"Right aligned: {42:>5d}")
print(f"Center aligned: {42:^5d}")

填充：

你可以在對齊字符之前插入任何其他字符（除了 { 和 } 以外的）來作為填充字符。

In [ ]:
print(f"Zero padded: {42:05d}")  # 使用0填充至寬度5
print(f"* padded: {42:*<5d}")   # 使用*填充至寬度5，左對齊